// *************************************
//
//   Layout styles
//
// *************************************

// -------------------------------------
//   Container
// -------------------------------------

.l-container {
  position: relative;
  margin: 0 auto;
  width: 94%;
  max-width: 920px;
}




// -------------------------------------
//   CSSWizardry grid extension
// -------------------------------------

//Grid item starts invisible on mobile
.display-none {
  display: none;
}


//Apply these to display
.s--display {
  @media screen and (min-width: $break-s) {
    display: inline-block;
  }
}

.s2--display {
  @media screen and (min-width: $break-s2) {
    display: inline-block;
  }
}

.m--display {
  @media screen and (min-width: $break-m) {
    display: inline-block;
  }
}

.m2--display {
  @media screen and (min-width: $break-m2) {
    display: inline-block;
  }
}

.l--display {
  @media screen and (min-width: $break-l) {
    display: inline-block;
  }
}

.xl--display {
  @media screen and (min-width: $break-xl) {
    display: inline-block;
  }
}